.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.form-template-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-field label {
  display: block;
}

input {
  padding: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 0.4px solid black;
}

button {
  width: 100%;
  margin: 2px 0;
  border-radius: 6px;
}
button[type="reset"] {
  background-color: transparent;
  border: none;
}
