<div class="container">
  <form
    class="form-template-container"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-field">
      <label for="firstName">First name</label>
      <input id="firstName" formControlName="firstName" type="text" />
      <ng-container *ngIf="form.get('firstName') as firstName">
        <div
          class="error-field"
          *ngIf="firstName && (firstName.dirty || firstName.touched)"
        >
          <div *ngIf="firstName?.hasError('required')">Name is required</div>
          <div *ngIf="firstName?.hasError('banWord')">
            {{ firstName.getError("banWord").bannedWord }} not allowed try
            another name
          </div>
          <div *ngIf="firstName.hasError('isExist')">
            this name is already exist try another one
          </div>
        </div>
        <div *ngIf="firstName.pending" class="pending">Checking...</div>
      </ng-container>
    </div>
    <div class="form-field">
      <label for="lastName">Last name</label>
      <input id="lastName" type="text" formControlName="lastName" />
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
    </div>
    <div class="form-field">
      <label for="nickname">Nick name</label>
      <input id="nickname" formControlName="nickName" type="text" />
    </div>
    <fieldset class="field-container" formGroupName="passGroup">
      <legend>Password group</legend>
      <div class="form-field">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" />
        @let password = form.get('passGroup.password')!;
        <ng-container *ngIf="password && (password.dirty || password.touched)">
          <div class="error-field" *ngIf="password.hasError('pattern')">
            Pease inter a valid password
            <strong>2 upper case and 6 digits</strong>
          </div>
          <div class="error-field" *ngIf="password.hasError('required')">
            Password is required
          </div>
        </ng-container>
      </div>
      <div class="form-field">
        <label for="confirm">confirm pass</label>
        <input id="confirm" formControlName="confirm" type="password" />
        @let confirm = form.get('passGroup.confirm')!;
        <ng-container *ngIf="confirm && (confirm.dirty || confirm.touched)">
          <div class="error-field" *ngIf="confirm.hasError('required')">
            Confirmation is required
          </div>
          <div
            class="error-field"
            *ngIf="confirm.hasError('passwordConfirmation')"
          >
            Password not match
          </div>
        </ng-container>
      </div>
    </fieldset>
    <fieldset class="field-container" formArrayName="phones">
      <legend>Mobile Numbers</legend>
      <div class="phones-controls">
        <button type="button" (click)="addControl()">+</button>
      </div>
      <div
        class="form-field"
        *ngFor="let phone of phones.controls; let i = index"
        [formGroupName]="i"
      >
        <label for="phone_{{ i }}">{{ i + 1 }} Mobile</label>
        <div class="inp-wrapper">
          <select class="label-select" formControlName="label" id="">
            <option *ngFor="let label of phoneLabels" [value]="label">
              {{ label }}
            </option>
          </select>
          <input type="number" id="phone_{{ i }}" formControlName="phone" />
          <button type="button" (click)="removeControl(i)">-</button>
        </div>
      </div>
    </fieldset>
    <fieldset class="field-container" formGroupName="skills">
      <legend>Skills</legend>
      <ng-container *ngIf="skill$ | async as skills">
        <div class="skills-container" *ngFor="let skill of skills">
          <input type="checkbox" [id]="skill" [formControlName]="skill" />
          <label [for]="skill">{{ skill }}</label>
        </div>
      </ng-container>
    </fieldset>
    <button class="submit" type="submit">Submit</button>
    <button class="reset" type="reset">reset</button>
  </form>
</div>
